Package: clide
Version: 0.9999
Section: shell
Priority: optional
Architecture: all
Essential: no
Pre-Depends: perl 
Suggests: num-utils
Installed-Size: 16319
Maintainer: Mark Krenz [mark@suso.com]
Provides: clide
Description: clide is a text colorizer that inserts
ANSI color sequences into text based on user and pre-defined searches and tags.
.
clide can be used from the command line to colorize text directly from files
or from standard input.
